.card.forgot {
  width: 40rem;
  margin: 0 auto;
  float: none;
  border-style: none;
}

#link-pw {
  text-decoration: none;
}

.invalid-field.invalid input {
  border-color: red;
}

.btn.send {
  background-color: #6b4e71;
  color: white;
}

@media (min-width: 280px) and (max-width: 653px) {
  .card.forgot {
    width: 18rem;
    margin: 0 auto;
    float: none;
  }
}
